  .requirements {
    height: 124px;
    max-width: 416px;
    border-radius: 8px;
    background-color: var(--white-1);
  }
  .requirement-heading {
    margin-top: 16px;
    margin-left: 10px;
    font-family: Lato;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
  .requirement-text-container {
    height: 60px;
    max-width: 388px;
    margin: 0px 16px;
  }

  .passwords-not-matched-container, .password-error-text-container {
    height: 56px;
    width: 416px;
    border-radius: 8px;
    background-color: var(--white-1);
  }
  .password-error-text-container {
    height: 74px;
  }
  .requirement-text {
    color: var(--secondary-6);
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    margin: auto;
  }

  .password-match-text, .password-error-text {
    color: var(--secondary-6);
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    margin: auto;
    margin-top: 18px;
  }

  .note {
    height: 104px;
    max-width: 416px;
  }
  .note-text {
    color: var(--secondary-6);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .speacial-chars-text {
    color: var(--primary-1);
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .error-text {
    color: var(--primary-1);
  }
  .valid {
    color: var(--black);
    font-weight: bold;
  }

  .special-chars-text-success {
    color: var(--secondary-6);
  }

  .border-red {
    border: 1px solid var(--primary-1) !important;
  } 

  .all-set-page {
    width: 512px;
  }
  

@media (width < 540px){
  .requirements{
    height: unset;
  }
  .requirement-text-container{
    padding-bottom: 15px;
    height: unset;
  }
}